body.active-modal {
    overflow-y: hidden;
}

/* .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
} */

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 25px 50px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7367f0;
    color: #fff;
    font-size: 16px;
    padding: 12px 17px;
}

.title_modal {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.p_modal {
    margin-top: 1em !important;
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: #545454;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}

.modal-content {
    text-align: center !important;
}

.divClose {
    display: flex;
    z-index: 1;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 1.25em auto 0;
    padding: 0;
}