.orderComplete svg {
    color: #28A745;
    font-size: 80px;
    margin-bottom: 20px;
}

.orderCompleteHeading,
.orderComplete p {
    padding-bottom: 30px;
    margin: 0;
}

.orderComplete p {
    color: #777c87;
}

.orderComplete h2 {
    font-size: 36px;
    line-height: 40px;
    margin: 0;
}