.col {
    max-width: 33.333333%;
    padding-left: 20px;
}

.row {}

.imageProduct {
    width: 100%;
    margin-bottom: 30px;
    background-color: #EBEBEB;
    position: relative;
    overflow: hidden;
}

.imageProductCenter {
    width: 100%;
    height: 95%;
    background-color: #EBEBEB;
    position: relative;
    overflow: hidden;
}

.imageProductCenter img {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
        transition: 1 s;
    }
}

.imageProduct img {
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
        transition: 1 s;
    }
}

.btnShopNow {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 12px 22px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 50px;
    letter-spacing: 2px;

    &:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}

.textProduct {
    text-align: left;
    position: absolute;
    top: auto;
    bottom: 15%;
    padding: 20px;
    margin: auto;
    left: 7%;
    right: auto;
}

.textProductCenter {
    text-align: left;
    position: absolute;
    top: auto;
    bottom: 15%;
    padding: 20px;
    margin: auto;
    left: auto;
    right: 40%;
}

.h4Orange {
    color: #f79837;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.h4Black {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 0;
}

.h2Content {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.fontSize40 {
    font-size: 40px;
}

.pd20 {
    padding-bottom: 25px;
}

.pd5 {
    padding-bottom: 5px;
}