.services-submenu {
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    text-align: start;
    padding: 10px 15px;
    z-index: 999;
}

.services-submenu li {
    background: #fff;
    cursor: pointer;
    min-width: 200px;
}

.services-submenu li a:hover {
    color: #F79837;
    transform: translateX(5%);
    transition: .5s;
}

.services-submenu.clicked {
    display: none;
}

.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
    z-index: 999;
}