@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.NavBar {

    background-color: #fef5ef;
    display: flex;
    padding: 10px 0;
}


.header-logo {
    width: 12%;
}

.Logo {

    width: 100%;
    height: auto;
}

.MenuNavBar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 0;

}

.MenuNavBar li {
    list-style-type: none;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.MenuNavBar li a {
    color: #000;
}

.ActionNavBar {
    display: flex;
    align-items: center;
    width: 15%;
    margin-bottom: 0;
}

.ActionNavBar li {
    display: flex;
    list-style-type: none;
    padding: 10%;
    text-align: center;
    justify-content: space-between
}

.ActionNavBar li a {
    color: #000;
}

.nav-item-ul {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0%;
    justify-content: space-between;
    width: 50%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0 15px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    width: 20%;
}

.nav-item a {
    color: #000;
    font-size: 14px;
    border-radius: 5px;
}

.nav-item a:hover {
    color: #F79837;
    transition: .2s;
}

.dropdown {
    position: absolute !important;
    background: #fff;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
    -webkit-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    z-index: 999;
    top: 0;
    text-align: left;
    /* transition: 100s; */
}

.active {
    transition: .5s;
}

.ActionNavBar li a:hover {
    color: #F79837;
    transition: .5s;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #F79837;
    visibility: hidden;
    opacity: 0;
    display: none;
    font-size: 18px;
}



@media only screen and (max-width:768px) {
    .header-logo {
        width: 18%;
    }

    .ActionNavBar {
        position: absolute;
        right: 10%;
    }

    .nav-btn {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    .nav-item-ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        transition: 1s;
        background-color: #24262B;
        transform: translatex(100%);
        z-index: 1000;
        height: 50vh;
    }

    .responsive_nav {
        transform: none;
    }

    .nav-close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .nav-item-ul {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:394px) {
    .ActionNavBar {
        right: 20%;
    }


}