@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.NavBar {

    background-color: #fef5ef;
}

.NavBar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}


.Logo {
    width: auto;
    height: 100%;
}

.MenuNavBar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 0;

}

.MenuNavBar li {
    list-style-type: none;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.MenuNavBar li a {
    text-decoration: none;
    color: #000;
}

.ActionNavBar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 13%;
    margin-bottom: 0;
}

.ActionNavBar li {
    list-style-type: none;
    padding: 10%;

}

.ActionNavBar li a {
    color: #000;
}

.nav-item-ul {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0%;
    width: 70%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0 15px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    width: 20%;
}



.nav-item a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.nav-item a:hover {
    color: #F79837;
    transition: .2s;
}

.dropdown {
    position: absolute !important;
    background: #fff;
    box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
    -webkit-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    z-index: 999;
    top: 0;
    text-align: left;
    /* transition: 100s; */
}

.active {
    transition: .5s;
}

.ActionNavBar li a:hover {
    color: #F79837;
    transition: .5s;
}