body.active-modal {
    overflow-y: hidden;
}

/* .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
} */

.modal,
.overlay,
.modalDetailProduct {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 20px 20px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7367f0;
    color: #fff;
    font-size: 18px;
    padding: 12px 20px;
    margin: 20px 50px 10px 50px;
}

.title_modal {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.p_modal {
    margin-top: 1em !important;
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: #545454;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}

.modal-content {
    text-align: center !important;
}

.divClose {
    display: flex;
    z-index: 1;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 1.25em auto 0;
    padding: 0;
}

.modal-quickview {
    margin: 0 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 20px 20px;
    border-radius: 3px;
    max-width: 9000px;
    min-width: 700px;
    height: 350px;
}

.modalQuickViewDetailProduct {
    margin: 0 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 20px 20px;
    border-radius: 3px;
    max-width: 9000px;
    min-width: 700px;
    max-height: 400px;
    min-height: 300px;
}

.btnSvg {
    font-size: 24px;
    border: none;
    background-color: transparent;
}

.product_count {
    text-align: left;
}

.modal_product_content {
    text-align: left;
}

.modal_product_content h3 {
    font-size: 24px;
    margin: 0;
}

.modal_product_content h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-top: 20px;
}

.modal_product_content p {
    padding-top: 20px;
    margin: 0;
    color: #777c87;
    line-height: 24px;
}

.modal-quickview img {
    max-width: 100%;
}

.product_count {
    padding-top: 30px;
}

.plus-minus-input {
    display: flex;
    align-items: center;
}

.plus-minus-input button {
    background: #000;
    color: #fff;
    font-size: 30px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 6px;
    position: relative;
}

.product_count input {
    padding: 0.375rem 0.75rem;
    width: 30%;
    min-height: 40px;
    border-radius: 0;
    margin: 0 8px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
}