.myaccountContent {
    border: 1px solid #e8e8e8;
    padding: 30px;
}

.myaccountContent .title {
    font-size: 24px;
    font-family: "Montserrat",sans-serif;
    color: #212121;
    border-bottom: 1px dashed #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
}