.detailArea {
    text-align: center !important;
    margin: 0 auto;
    width: 700px;
    display: block;
    margin-top: 20px;
    margin-bottom: 70px;
}

.backBtn {
    padding-top: 36px;
    padding-bottom: 30px;
    background: #fff;
    text-align: left;
}

.backBtn button {
    border: none;
}

.backBtn svg {
    font-weight: 400;
}

.boxTable {
    box-shadow: 0 0 11px 5px rgb(0 0 0 / 6%);
    padding: 0px 30px;
    width: 100%;
    display: flex;
    justify-content: center
}

.boxTable img {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}

.detailArea .title {
    color: #444;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
}

.detailArea p {
    margin: 15px 0;
    font-size: 18px;
    line-height: 24px;
    color: #777c87;
    font-weight: 400;
}

.detailArea .orderDetail th,
table.orderDetail,
.detailArea .orderDetail td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.detailArea .orderDetail th {
    font-size: 16px;
    padding: 15px;
    text-align: center;
}

.orderDetail td {
    padding-left: 15px;
}

.orderDetail h5 {
    margin-top: 15px;
    color: #444;
    font-size: 16px !important;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
}

.orderDetail img {
    width: 85px;
}

.orderDetail th {
    min-width: 110px;
}

.thImg {
    min-width: 110px !important;
}

.thName {
    min-width: 200px !important;
}

.thPrice {
    min-width: 140px !important;
}

.price {
    font-weight: 700 !important;
}

.totalProduct {
    line-height: 49px;
    font-size: 15px;
    color: black;
    padding-left: 20px;
    text-align: left;
    border-right: unset !important;
}

.priceTotalProduct {
    line-height: 49px;
    text-align: right;
    padding-right: 28px;
    font-size: 15px;
    color: black;
    border-left: none !important;
}

.tableAddress {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tableAddress td {
    font-size: 13px;
    font-weight: 400;
    color: #444444;
    letter-spacing: 0.2px;
    width: 50%;
}

.tableAddress h5 {
    text-align: left !important;
    font-size: 17px;
    font-weight: 500;
    color: #000000;
    line-height: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgb(230, 232, 235);
    letter-spacing: -0.65px;
    margin-top: 0px;
    margin-bottom: 13px;
}

.tableAddress p {
    padding-right: 30px;
    text-align: left !important;
    font-weight: normal;
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 21px;
    margin-top: 0px;
}

.tableAction {
    background-color: #fafafa;
}

.tableAction button {
    margin-top: 30px;
    margin-bottom: 30px;
}