.row {
    display: flex;
}

.col {
    padding: 0px;
}

#offerTime {
    background-image: url(../../images/balo_tibi_countdown.png);
    background-color: #EBEBEB;
    background-size: cover;
    background-position: 50%;
    padding: 120px 0;
}

#offerTime li:first-child {
    margin-top: 0px;
}

#offerTime ul {
    padding-left: 0px;
}

#offerTime li {
    border: 1px solid #c5c5c5;
    width: 100px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

#offerTime li span{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #545454;
}

.offerTimeFlex {
    display: flex;
}

.offerTimeText {
    padding-left: 5%;
    text-align: left;
}

.offerTimeText h2 {
    font-size: 40px;
    font-weight: bolder;
    line-height: 55px;
    letter-spacing: 2px;
}

.offerTimeText p {
    font-size: 16px;
    font-weight: 400;
    color: #777c87;
    line-height: 24px;
    padding: 15px 0px 30px 0px;
}

.offerTimeText a {
    padding: 16px 35px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    background-color: black;
    color: white;
    line-height: 18px;
    letter-spacing: 2px;
}