.tableDesc {
    border: 1px solid #ededed;
}

.tableResponsive {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    overflow-x: auto;
}

.tableResponsive table thead {
    background: #f79837;
}

.tableDesc table tbody tr td:last-child, .tablePage table thead tr:last-child th {
    border-right: 0;
}

.tablePage table tbody tr td, .tablePage table thead tr th {
    border-right: 1px solid #ededed;
    padding: 10px;
    text-align: center;
}

.tablePage table thead tr th {
    color: #fff;
    border-bottom: 3px solid #f79837;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.tableResponsive table tbody tr td {
    border-right: 1px solid #ededed;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    min-width: 150px;
}

.tablePage table tbody tr td.productThumb {
    max-width: 180px;
    overflow: hidden;
}

.tablePage table tbody tr td.productThumb img {
    width: 92px;
    height: 92px;
    object-fit: cover;
    max-width: 100%;
    background-color: #ededed;
}

.tablePage table tbody tr td {
    font-size: 17px !important;
    border-bottom: 1px solid #ededed;
}

.tablePage table tbody tr td.productName {
    min-width: 180px;
}

.tablePage table tbody tr td.productPrice {
    min-width: 130px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.productStock h6 {
    font-size: 16px;
}

.tablePage table tbody tr td.productAddcart {
    min-width: 180px;
}

.tablePage table tbody tr td.productRemove {
    min-width: 100px;
    font-size: 20px !important;
}

.productRemove svg {
    cursor: pointer;
    color: red;
}