.orderTrackingWrapper {
    box-shadow: 0 0 7px 3px #0000002b;
    padding: 20px 30px;
}

.orderTrackingWrapper h4 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.textDetail {
    color: #777c87;
}

.orderTrackingWrapper form {
    padding-top: 20px;
}


.orderTrackingWrapper .formGroup {
    margin-bottom: 1rem;
    text-align: left;
}

.formGroup label {
    display: inline-block;
    margin-bottom: 0.5rem;
}