@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

section {
    padding-top: 100px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb100 {
    padding-bottom: 100px;
}

.prl50 {
    padding-left: 50px;
    padding-right: 50px;
}

.ptb100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.colorOrange{
    color: #f79837 !important;
}

body {
    font-family: "Poppins", sans-serif;
}

ul, ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

a {
    color: black;
    margin: 0;
}

a:hover {
    color: #f79837;
}

.btn_sm{
    padding: 10px 16px;
}

.theme-btn-one {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    border-radius: 0;
    text-decoration: none;
}

.bg-black, .bg-black:hover {
    border: 1px solid #000;
}

.bg-black:hover {
    color: #000;
    background-color: #fff !important;
}

.bg-black, .bg-whites:hover {
    color: #fff;
    background-color: #000;
}

.btn-black-overlay {
    background-color: #000 !important;
    color: #fff !important;
}

.btn-black-overlay:hover {
    background-color: #262626 !important;
    color: #fff !important;
}

a {
    text-decoration: none !important;
}

.btn_md {
    padding: 16px 35px !important;
}